/* Add CSS Styling */
.first-element {
  background-color: black;
  color: white;
}

.second-element {
  background-color: yellow;
}

.first-element,
.second-element {
  font-size: 27px;
  font-family: Helvetica, "Times New Roman" sans-serif;
}